::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 90, 95, 0.5) !important;
    font-weight: 600!important;
    opacity: 1!important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(0, 90, 95, 0.5) !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(0, 90, 95, 0.5) !important;
}